<!-- templates/channel_summary.html -->
{% extends 'dashboard_base.html' %}

{% load humanize %}

{% block content %}
    <div><h2>Channel Summary</h2></div>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
            <div class="card-header">
                    <p><i class="fas fa-chart-bar"></i></p>
                  </div>
        <div class="card-body">
          <h5 class="card-title">Channel 23450</h5>
          <h6 class="card-subtitle mb-2 text-muted">User Peter.K</h6>
          <p class="card-text">Channel Description. What the channel is for or does</p>
          <a href="#" class="btn btn-primary">Link to channel page</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
            <div class="card-header">
                    <p><i class="fas fa-chart-bar"></i></p>
                  </div>
        <div class="card-body">
          <h5 class="card-title">Channel 89302</h5>
          <h6 class="card-subtitle mb-2 text-muted">User Peter.K</h6>
          <p class="card-text">Channel Description. What the channel is for or does</p>
          <a href="#" class="btn btn-primary">Link to channel page</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
