<!-- templates/channel_summary.html -->
{% extends 'dashboard_base.html' %}

{% load humanize %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
      <div class="card">
            <div class="card-header">
                    <i class="fas fa-chart-bar"></i>Featured
                  </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <h6 class="card-subtitle mb-2 text-muted">User Peter.K</h6>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
            <div class="card-header">
                    Featured
                  </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <h6 class="card-subtitle mb-2 text-muted">User Peter.K</h6>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
