<!-- templates/docs.html -->

{% extends 'dashboard_base.html' %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Documentation</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
<div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus rutrum tellus pellentesque eu tincidunt tortor. Cras sed felis eget velit aliquet sagittis. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Ante in nibh mauris cursus mattis molestie a iaculis. Mauris sit amet massa vitae. Donec adipiscing tristique risus nec feugiat in fermentum posuere. Posuere morbi leo urna molestie at elementum eu. Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Sit amet tellus cras adipiscing enim eu turpis egestas pretium. Scelerisque eu ultrices vitae auctor eu augue ut lectus arcu. Id aliquet lectus proin nibh. Convallis aenean et tortor at risus viverra adipiscing at.
</div>

{% endblock content %}
