<!-- templates/one_field_listing.html -->
{% extends 'dashboard_base.html' %}

{% load humanize %}

{% block content %}
    
  <h2>Channel {{ channel_number }} Field {{ field_number }}</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>time</th>
          <th>channel</th>
          <th>field</th>
          <th>data</th>
        </tr>
      </thead>
      <tbody>
        {% if object_list %}
        {% for data_pt in object_list %}
        <tr>
          <td>{{ data_pt.timstamp|naturaltime }}</td>
          <td>{{ data_pt.channel }}</td>
          <td>{{ data_pt.field_num }}</td>
          <td>{{ data_pt.data }}</td>
        </tr>
       {% endfor %}
       {% endif %}
      </tbody>
    </table>
  </div>

  <div id="container" style="width:100%; height:400px;"></div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Fruit Consumption'
        },
        xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: 'Jane',
            data: [1, 0, 4]
        }, {
            name: 'John',
            data: [5, 7, 3]
        }]
    });
});
    </script>
{% endblock javascripts %}
