<!-- templates/onepoint.html -->

{% extends 'dashboard_base.html' %}

{% block content %}
    
  <h2>One Point Data Table</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>time</th>
          <th>channel</th>
          <th>field</th>
          <th>data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ data_pt.timestamp }}</td>
          <td>{{ data_pt.channel_num }}</td>
          <td>{{ data_pt.field_num }}</td>
          <td>{{ data_pt.data }}</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock content %}
